<!DOCTYPE html>
<html>
<body>
<h3>Hi ${user}, welcome to the Chipping Sodbury On-the-Hill message boards!</h3>
<div>
<div> <img src=''cid:identifier1234''> </div>

<p> Country Code : ${location.countryCode} </p>
<p> Country Name : ${location.countryName} </p>
<p> City : ${location.city} </p>
<p> Region Code : ${location.regionCode} </p>
<p> Region Name : ${location.regionName} </p>
<p> IP Address : ${ipAddress} </p>

</div>
</body>
</html>